/* index.css */
body {
  margin: 0;
  font-family: 'Courier New', monospace;
  background: #000;
  color: #00ffe7;
}
.container {
  text-align: center;
  padding: 2rem;
}


.start-btn {
  background: #0ff;
  color: #000;
  padding: 15px 25px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 15px #0ff;
  cursor: pointer;
  transition: 0.3s ease;
  margin-top: 30px;
}

.start-btn:hover {
  background: #00ffaa;
  box-shadow: 0 0 25px #00ffaa;
}


.exercise-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exercise-list ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 10px;
  width: 100%;
  max-width: 800px;
  margin-top: 20px;
}

.exercise-list button {
  padding: 10px;
  background: #0ff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.exercise-list button:hover {
  background: #00ffaa;
}
